Source: sacme
Maintainer: Luca Tagliavini <luca@teapot.ovh>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-any,
               golang-github-hashicorp-go-retryablehttp-dev,
               golang-github-pelletier-go-toml.v2-dev,
               golang-github-spf13-afero-dev,
               golang-github-stretchr-testify-dev,
               golang-github-xenolf-lego-dev,
               golang-golang-x-exp-dev
Standards-Version: 4.6.0
Vcs-Browser: https://github.com/lucat1/sacme
Vcs-Git: https://github.com/lucat1/sacme.git
Homepage: https://github.com/lucat1/sacme
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/lucat1/sacme

Package: sacme
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Simple ACME client
 Simple, declarative ACME client. Bulit on production grade libraries,
 allows complex certificate storage and retrival configurations

